body {
	font-size: 11pt;
	margin: 0px;
	padding: 0px;
	background-image: url(bg.png);
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: black;
}

p{
	text-align: justify;
}

hr {
	width: 60%;
}

h1, h2 {
	color: #347235;
}

h2 {
	font-size: 17px;
}

#tartalom {
	margin: 0 auto 0 auto;
	text-align: left;
	width: 850px;
	margin: auto;
	border:none;
	padding-left: 10px;
	padding-right: 10px;
	
}

#nev{
	font-size: 16px;
	font-style:italic;
}


.kep {
	margin-left: 5px;
	border: 1px solid;
	float: right;
	
}

a:link {
color: #008080;
}

